 <ol class="users follow">
<tr>
      <td><%= gravatar_for user, size: 50 %></td>
         <td><%= link_to user.name, user %></td>
        <td><%= user.email %></td>

</tr>
</ol>
<div class="line-separator"></div>