   <%= form_for(Comment.new) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content , placeholder: "Comment Something..." %>
  </div>
  <%= f.submit "Comment", class: "btn btn-primary" %>
  <% end %>